{
 "public_dns":["8.8.8.8","8.8.4.4","4.2.2.2","4.2.2.1"],
 "log_level":1,
 "isp": [
	   {	
		"name":"tata",
		"interface":"eth0",
		"gateway":"61.17.193.1",
		"subnet":"255.255.255.0",
		"network":"61.17.193.0/24",
		"weight":1,
		"enabled":"true",
		"online":"true"
	   },
 	   {    
		"name":"ttml",
		"interface":"eth2",
		"gateway":"192.168.0.2",
		"subnet":"255.255.255.0",
		"network":"192.168.0.0/24",
		"weight":1,
		"enabled":"true",
		"online":"true"
	   },
 	   {
		"name":"bsnl",
		"interface":"wlan0",
		"gateway":"192.168.2.1",
		"subnet":"255.255.255.0",
		"network":"192.168.2.0/24",
		"weight":1,
		"enabled":"false",
		"online":"true"
	   }
	]
}
